{% extends "base.html" %}
{% block content %}
    <div class="container home-area">
        <div class="vertical-bar">
            <img src="{{ url_for('static', filename='twittericon.png') }}">
        </div>
        <div class="content-bar">
            <h2>Analyze tweets or topics to find out what people are saying about you  </h2>
            <p>You now have access to your company's public perception, a product launch's success, reactions to a specific event all classified under three denominators: Negative, Neutral, Positive  </p>
            <br>
            <h4>Sentence Level analysis</h4>
            <p>It determines whether each sentence expressed a positive, negative, or neutral opinion.</p>
            <br>
            <h4>Document Level analysis</h4>
            <p>This allows you to make informed decisions about buying, marketing, or simply informing yourself on the overall sentiment of a specific target with a large amount of data</p>
            <br>
            
            <a href="{{ url_for('liner.liner') }}">
                <button type="button" class="btn btn-primary">What are people saying on twitter?</button>
            </a>
        </div>
        
        </div>
    </div>
{% endblock %}